<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dumbo Coffee-修改密码</title>
    <link rel="shortcut icon" href="../../assets/img/favicon.ico" type="images/x-icon">
    <link rel="stylesheet" href="../../assets/uikit/dist/css/uikit.css">
    <link rel="stylesheet" href="../../assets/css/menu.css">
    <script src="../../assets/uikit/dist/js/uikit.js"></script>
    <script src="../../assets/uikit/dist/js/uikit-icons.min.js"></script>
</head>
<body>
<!-- nav-top -->
<div class="uk-width-1-1 nav bg-color uk-position-fixed">
    <div class="uk-container uk-container-expand">
        <nav class="uk-navbar">
            <div class="uk-navbar-left">
                <img src="../../assets/img/Dumbo.png" alt="" style="width: 9vh; margin-right: 8px;">
                <span class="font-color logo">Dumbo Coffee</span>
            </div>
            <div class="uk-navbar-right">
                <a href="../login.html" style="color: rgba(255,255,255,.85)">注销 <span uk-icon="sign-out"></span></a>
            </div>
        </nav>
    </div>
</div>
<!-- content -->
<div>
    <!-- menu -->
    <div class="uk-width-1-5 menu uk-position-fixed">
        <div class="uk-padding uk-padding-remove-bottom menu-logo">Management</div>
        <div class=" uk-padding">
            <ul class="uk-nav uk-nav-default">
                <li><a href="order.html">订单管理</a></li>
                <li><a href="user.html">用户管理</a></li>
                <li><a href="supplier.html">供应商管理</a></li>
                <li><a href="role.html">角色管理</a></li>
                <li class="uk-active"><a href="changePassword.html">修改密码</a></li>
            </ul>
        </div>
    </div>
    <!-- content -->
    <div class="uk-width-4-5 content uk-position-absolute uk-padding-small">
        <div class="uk-padding" style="background-color: white; border: 1px solid #dddddd">
            <form class="uk-form-horizontal uk-margin-large uk-width-1-2">
                <div class="uk-margin">
                    <label class="uk-form-label" for="oldPassword">旧密码：</label>
                    <div class="uk-form-controls">
                        <input class="uk-input" id="oldPassword" type="password" placeholder="请输入旧密码">
                    </div>
                </div>
                <div class="uk-margin">
                    <label class="uk-form-label" for="newPassword">新密码：</label>
                    <div class="uk-form-controls">
                        <input class="uk-input" id="newPassword" type="password" placeholder="请输入新密码">
                    </div>
                </div>
                <div class="uk-margin">
                    <label class="uk-form-label" for="confirmPassword">旧密码：</label>
                    <div class="uk-form-controls">
                        <input class="uk-input" id="confirmPassword" type="password" placeholder="请确认旧密码">
                    </div>
                </div>
                <div class="uk-margin">
                    <button class="uk-button uk-button-primary">保存</button>
                </div>
            </form>
        </div>
    </div>
</div>
</body>
</html>